.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.42em;
  font-size: small;
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling if content overflows */
}
.container table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  table-layout: fixed;
}

.container colgroup col:nth-child(3),
.container colgroup col:nth-child(4) {
  width: 200px; /* Adjust width as needed */
  max-width: 250px; /* Prevents excessive stretching */
  overflow: hidden;
  text-overflow: ellipsis;
}
.container td,
.container th {
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: white;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #c2c3c8;
}

.container th {
  background-color: #83a5f6;
}

.container tr:hover {
  background-color: #c4d0e7;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.container td:hover {
  background-color: #fff842;
  color: #403e10;
  /* font-weight: bold; */

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(4px, -4px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
  transition: all 0.6s ease-in-out;
}
